<a
	class="ai1ec-minical-trigger ai1ec-btn ai1ec-btn-sm ai1ec-btn-default"
	{% for attribute, value in attributes %}
		{{ attribute }}="{{ value }}"
	{% endfor %}
	{{ data_type | raw }}
	title="{{ text_date }}"
	>
  <span class="ai1ec-calendar-title">{{ title }}</span>
  {{ date | year }}
  <span class="ai1ec-calendar-title-short">{{ title_short }}</span>

</a>
