<article>
	<header>
		<h1>{{ title | raw }}</h1>
	</header>
	<div class="entry-content">
		<h1>{{ title | raw }}</h1>
		{{ event_details | raw }}
		{{ content | raw }}
	</div>
	{{ footer | raw }}
</article>
